<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.auburn.oaccrefac.ui.actionSet"
            label="OpenACC Refactoring"
            visible="true">
         <menu
               id="oaccrefac_menu"
               label="OpenAcc &amp;Refactoring">
            <separator
                  name="oaccrefac_group">
            </separator>
         </menu>
         <!--action
               definitionId="org.eclipse.cdt.ui.refactor.oacc"
               label="Introduce OpenACC Parallel"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               id="org.eclipse.cdt.ui.actions.IntroOpenACCParallel"
               retarget="true">
         </action-->
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.IntroOpenACCParallelDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.IntroOpenACCParallelDelegate"
               label="&amp;Simple Pragma"
               menubarPath="oaccrefac_menu/oaccrefac_group"
               toolbarPath="oaccrefac_group"
               tooltip="">
         </action>
      </actionSet>
   </extension>

</plugin>
