<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.auburn.oaccrefac.ui.actionSet"
            label="OpenACC Refactoring"
            visible="true">
        <menu
        		label="Refactor"
        		path="edit"
        		id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="reorgGroup"/>
            <separator name="codingGroup"/>
            <separator name="reorgGroup2"/>
            <separator name="typeGroup"/>
            <separator name="typeGroup2"/>
            <separator name="codingGroup2"/>
            <separator name="typeGroup3"/>
            <separator name="historyGroup"/>
            <separator name="oaccGroup"/>
         </menu>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.AnalyzeLoopDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.AnalyzeLoopDelegate"
               label="&amp;Analyze Loop"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Performs a dependence analysis on a loop">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.IntroOpenACCParallelDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.IntroOpenACCParallelDelegate"
               label="&amp;Parallelize (OpenACC)"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Adds an OpenACC parallel pragma before a for-loop">
         </action>
         <action
         		class="edu.auburn.oaccrefac.internal.ui.actions.IntroduceKernelsLoopDelegate"
         		id="edu.auburn.oaccrefac.internal.ui.actions.IntroduceKernelsLoopDelegate"
         		label="&amp;Kernels Loop (OpenACC)"
         		menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
         		tooltip="Adds an OpenACC kernels pragma before a for-loop">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.LoopUnrollingDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopUnrollingDelegate"
               label="&amp;Unrolling"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Unrolls a selected for-loop for efficiency">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.LoopInterchangeDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopInterchangeDelegate"
               label="&amp;Interchange"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Interchanges two nested loop headers">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.LoopFusionDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopFusionDelegate"
               label="&amp;Fusion"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Defuse two for-loop together when possible.">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.DistributeLoopsDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopFissionDelegate"
               label="&amp;Fission"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Apply loop fission on a compound for body.">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.LoopStripMiningDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopStripMiningDelegate"
               label="&amp;Strip Mining"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               pulldown="false"
               tooltip="Rearranges a loop into doubly-nested loops">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.LoopTilingDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopTilingDelegate"
               label="&amp;Tiling"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               pulldown="false"
               tooltip="Tiles the iteration ordering of nested loop">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.IntroduceDataConstructDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.IntroduceDataConstructDelegate"
               label="Intro &amp;Data Construct"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               pulldown="false"
               tooltip="Introduces an OpenACC data construct">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.IntroDefaultNoneDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.IntroDefaultNoneDelegate"
               label="Intro Default None"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               pulldown="false"
               tooltip="Introduces a default(none) clause to an OpenACC pragma directive">
         </action>
         <action
               class="edu.auburn.oaccrefac.internal.ui.actions.LoopCuttingDelegate"
               id="edu.auburn.oaccrefac.internal.ui.actions.LoopCuttingDelegate"
               label="&amp;Cutting"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/oaccGroup"
               tooltip="Cuts the loop">
         </action>
      </actionSet>
   </extension>

</plugin>
